@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
      &__item
        &-image
          width: 100%
  .card
    width: 230px
    height: 230px
  .packet-small
    width: 300px
  .packet-big
    width: 630px
    &__image
      width: 315px
    &__room-text
      padding-top: 20px
    &__title
      margin-bottom: 20px
    &__about
      margin-bottom: 40px
  .footer
    &-wrapper
      grid-template-columns: 1fr 196px 278px 194px
      grid-column-gap: 34px
    &__input
      &-group
        flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .newsletter
    padding: 92px 0 92px 0
  .navbar
    &-top
      padding-top: 30px
      padding-bottom: 30px
    &__search
      margin-left: auto
    &-menu
      padding-top: 22px
      padding-bottom: 22px
      &__link
        font-size: 12px
        line-height: 15px
  .search
    &__input
      width: 340px
  .hotel
    padding-bottom: 60px
    &-grid
      flex-direction: column
    &__slider
      margin-bottom: 30px
    &-right
      flex-direction: row
    &-slider
      width: 100%
  .booking
    width: 340px
    width: 340px
  .map
    border-radius: 10px
  .reviews
    padding-bottom: 60px
    padding-top: 40px
    &__title
      font-size: 30px
      line-height: 38px
      margin-bottom: 50px
    &-slider
      &__item
        max-width: 580px
  .activities
    padding-bottom: 70px
    &-wrapper
      flex-wrap: wrap
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 250px
  .packet-big
    width: 700px
    &__image
      width: 350px
  .packet-small
    width: 335px
  .packages
    padding-bottom: 40px
    padding-top: 5px
    &-wrapper
      grid-template-columns: repeat(2, 1fr)
    &__title
      margin-bottom: 30px
      font-size: 25px
  .footer
    padding-top: 72px
    grid-gap: 0
    &__input
      &-group
        flex-basis: 48%
    &__logo
      margin-top: 0
      width: 99px
      grid-row: 1 / 2
    &__social
      &-network
        grid-row-start: 1
        grid-row-end: 2
        grid-column: span 2
        align-self: center
        margin-top: 12px
        margin-left: -8px
    &__categories
      grid-row-start: 2
      grid-row-end: 3
    &__additional
      grid-row-start: 2
      grid-row-end: 3
    &__contact
      &-details
        grid-row-start: 3
        grid-row-end: 4
        grid-column: span 3
        margin-top: 21px
      &-form
        grid-row-start: 4
        grid-row-end: 5
        grid-column: span 3
        margin-right: 150px
    &__legal
      grid-row-start: 2
      grid-row-end: 3
    &-wrapper
      grid-template-columns: 168px 250px 1fr
      grid-row-gap: 50px
    &__additional-information
      margin-left: 0
      grid-row: 5 / 6
      grid-column: span 3
@media (max-width: 768px)
  body
    padding-top: 78px
  .container
    max-width: 576px
    width: 89%
  .navbar
    &--mobile
      &_fixed
        position: fixed
        top: 0
        left: 0
        right: 0
        z-index: 99
    &__user, &__search
      &--mobile
        &--hidden
          display: none
        &--visible
          display: flex
    &__user
      &--mobile
        &--visible
          flex-direction: column
          justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      top: 78px
      right: 0
      bottom: 0
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &--visible
            display: block
            &--user
              margin-bottom: 27px
            &--search
              margin-bottom: 39px
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: #fff
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
        margin-bottom: 0
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
    &-right
      flex-direction: column
      min-height: 450px
    &-slider
      height: 350px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      max-width: 576px
      width: 92%
      flex-direction: column
      align-items: flex-start
  .reviews
    &-slider
      &__item
        padding: 0 30px 30px
        &::after, &::before
          display: none
      &__button
        top: 20px
        right: 50%
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
      &__text
        width: 455px
    &__title
      font-size: 30px
      line-height: 38px
  .card
    width: 48%
    height: 255px
    &:hover
      box-shadow: none
      transition: 0s all
      & img 
        transform: scale(1)
        transition: 0s all
  .activities
    padding-top: 40px
    padding-bottom: 40px
  .reviews
    padding: 40px 0 0 0
    &-slider
      &__button
        &--next
          margin-right: -105px
        &--prev
          margin-left: -105px
  .packet-small
    width: 100%
  .packet-big
    width: 100%
    flex-direction: column
    height: auto
    &__image
      object-fit: cover
      width: 100%
      height: 250px
      flex-basis: auto
    &__title
      margin-bottom: 20px
    &__room-text
      flex-basis: auto
    &__room
      display: flex
      flex-direction: column
      margin-bottom: 24px
    &__text
      font-style: normal
      font-weight: normal
      font-size: 12px
      line-height: 15px
    &__text:not(:last-child)
      margin-bottom: 11px
    &__icon
      margin-right: 15px
    &__old-price
      font-style: normal
      font-weight: normal
      font-size: 14px
      line-height: 18px
      text-decoration-line: line-through
    &__new-price-and-button
      display: flex
      align-items: center
      justify-content: space-between
    &__new-price
      font-style: normal
      font-weight: bold
      font-size: 24px
      line-height: 30px
    &__book-now
      background-color: $primary
      padding: 10px 12px
      border: none
      font-style: normal
      font-weight: 600
      font-size: 14px
      line-height: 19px
      border-radius: 4px
      color: #ffffff
    &__about
      margin-bottom: 20px
  .footer
    padding-top: 70px
    &-wrapper
      grid-template-columns: 1fr 1fr 1fr
    &__input
      &-group
        flex-basis: 100%
  .search
    &__input
      width: 245px
  .packages
    &-wrapper
      grid-template-columns: 1fr
    &__packet
      &-big
        grid-column: span 1
  .modal
    &__dialog
      padding: 25px 40px
@media (max-width: 576px)
  .logo
    width: 99px
  .hotel
    padding-bottom: 40px
    &__slider
      margin-bottom: 20px
    &-slider
      height: 250px
  .newsletter
    padding: 76px 0 83px 0
    &-title
      margin-bottom: 37px
      font-size: 20px
      line-height: 25px
      &__strong
        font-size: 30px
        line-height: 38px
  .subscribe
    width: 100%
    &__input
      padding-left: 10px
  .reviews
    padding-bottom: 50px
    &-slider
      &__text
        width: 300px
        margin-top: 0
        margin-bottom: 0
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 42px
  .activities
    padding-bottom: 60px
    &__title
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
  .footer
    padding-top: 68px
    padding-bottom: 21px
    &-wrapper
      grid-template-columns: 1fr
      grid-row-gap: 28px
    &__title
      &--mb-35
        margin-bottom: 16px
    &__message
      margin-bottom: 15px
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
        margin-left: 0
        flex-direction: column
      &-links
        justify-content: start
        margin-top: 22px
    &__link
      &--network
        margin-right: 12px 
    &__additional
      grid-row: 4
      grid-column: 1
      &-information
        grid-row: 8 / 9
        grid-column: span 1
        margin-top: 0
    &__categories
      grid-row: 5
      grid-column: 1
    &__legal
      grid-row: 3
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        margin-top: 11px
      &-form
        grid-row: 7
        grid-column: 1
        margin-right: 0
        margin-top: 16px
    &__additional-information
      grid-column-end: 2
      grid-row-start: 8
      flex-direction: column
    &__form
      &_form
        &-required
          flex-direction: column
          align-items: start
    &__links
      margin-bottom: 10px
    &__info
      order: -1
      margin-bottom: 15px
    &__item
      &--br
        display: block
  .additional-information
    &__links
      margin-bottom: 10px
    &__info
      order: -1
      margin-bottom: 15px
  .modal
    &__form
      display: flex
      flex-direction: column
      align-items: start
      &_form
        &-required
          width: 90%
          margin: auto
          margin-top: 15px
    &__dialog
      width: 80%
      padding-left: 15px
      padding-right: 15px
    &__input
      width: 90%
      margin: auto
      padding: 12px 16px
      margin-bottom: 2px
    &__message
      width: 90%
      margin: auto
      margin-top: 15px
      padding: 12px 16px
      height: 100px
    .invalid
      margin-left: 5%
  .telephone
    &__info
      &--br
        display: block
@media (max-width: 430px)
  .modal
    &__form
      display: flex
      flex-direction: column
      &_form
        &-required
          display: flex
          flex-direction: column
          align-items: start
    &__button
      margin-bottom: 5px
  .hotel
    &-slider
      height: 180px
    &__info
      order: -1
      margin-bottom: 10px
@media (max-width: 360px)
  .reviews
    &__title
      font-size: 18px
      line-height: 23px
      width: 245px
      display: block
      margin: auto
      margin-bottom: 42px
    &-slider
      &__text
        width: 220px
  .additional-information__links_link
    margin-right: 6px
