*
  box-sizing: border-box

body
  font-family: 'Muli', sans-serif
  color: $text-color
  background-color: $secondary
  overflow-x: hidden
.container
  max-width: 1110px
  margin: auto
img
  max-width: 100%
.button 
  cursor: pointer
.invalid
  color: $primary
  border-bottom: 1px solid $primary
